<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Unicode Tests</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                                        
  </head>
  <body>

    <table class="table">
      <tr>
        <th>Method</th>
        <th>Test</th>
        <th>Expected</th>
        <th>Result</th>
        <th>Verdict</th>
        <th>Notes</th>
      </tr>

      <% @tests.each do |test| %>
        <tr>
          <td><%= test[:name] %></td>
          <td><code><%= test[:code] %></code></td>
          <td><code><%= test[:expected].inspect %></code></td>
          <td><code><%= eval(test[:code]).inspect %></code></td>
          <td><%= test[:expected].eql?(eval(test[:code])) ? "Pass" : "Fail" %></td>
          <td><%= test[:notes] %></td>
        </tr>
      <% end %>
    </table>
  </body>
</html>
